<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon1.ico" type="image/x-icon" />
  </head>
  <body>
    <h1><"Quiz"></h1>
    <p>¿Listo para jugar?</p>
  </body>
</html>
