<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autores</h2>
    <p>Javier Delgado Palacios y Sergio Herrera Arruti</p>
    <img src="/Barcelona.JPG" alt="Javier">
    <img src="photo.jpg" alt="Sergio">	
  </body>
</html>
